
body {
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    text-align: center;
    margin-top: 20px;
}

.buscador {
    padding: 8px;
    font-size: 16px;
}

.buscar {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}

.resultado {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

.resultado img {
    width: 100%;
    height: auto;
}